<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="inertial_link_5" params="reflect">
        <inertial>
            <origin xyz="-0.00017 -0.02738 0.06749" rpy="0 0 0" />
            <mass value="0.31298" />
            <inertia ixx="0.00157" ixy="0.00000" ixz="0.00000" iyy="0.00154" iyz="-0.00038" izz="0.00043" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="origin_joint_5" params="reflect">
        <!-- Check new limits -->
        <origin xyz="-0.0199999999999971 0.20041 -0.037110000000002" rpy="-1.57 0 0" />
    </xacro:macro>

    <xacro:macro name="origin_joint_tool_changer" params="reflect">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:macro>
</robot>