<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="inertial_link_5" params="reflect">
        <inertial>
            <origin xyz="2.5984E-03 0 ${-0.1278 * reflect}" rpy="0 0 0" />
            <mass value="0.87162300950021" />
            <inertia ixx="1.9033E-03" ixy="-4.8338E-07" ixz="${1.5833E-06 * reflect}" iyy="1.9678E-03" iyz="${-2.6173E-05 * reflect}" izz="7.0997E-04" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_link_6" params="reflect">
        <inertial>
            <origin xyz="0 -0.0939 ${0.0329 * reflect}" rpy="0 0 0" />
            <mass value="0.707831170710613" />
            <inertia ixx="8.7604E-04" ixy="1.8688E-07" ixz="${1.8174E-07 * reflect}" iyy="4.0580E-04" iyz="${1.3224E-04 * reflect}" izz="9.0318E-04" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="origin_joint_6" params="reflect">
        <origin xyz="0 -0.0395 ${-0.1651 * reflect}" rpy="${90 * reflect * deg_to_rad} 0 ${180 * deg_to_rad}" />
    </xacro:macro>

    <xacro:macro name="inertial_link_7" params="reflect">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.10189" />
            <inertia ixx="5.0821E-05" ixy="2.1963E-09" ixz="${-2.9579E-20 * reflect}" iyy="4.4927E-05" iyz="${-2.9712E-19 * reflect}" izz="9.1085E-05" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="origin_joint_7" params="reflect">
        <origin xyz="0 -0.146 ${0.039 * reflect}" rpy="${-90 * reflect * deg_to_rad} 0 3.14" />
    </xacro:macro>

</robot>