<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

  <xacro:property name="arm_5_max_velocity"      value="2.35" />
  <xacro:property name="arm_6_max_velocity"      value="2.35" />
  <xacro:property name="arm_7_max_velocity"      value="2.35" />

  <xacro:property name="arm_5_max_effort"   value="43.0" />
  <xacro:property name="arm_6_max_effort"   value="43.0" />
  <xacro:property name="arm_7_max_effort"   value="43.0" />

  <xacro:macro name="kangaroo_7dof_arm" params="name side reflect parent *origin arm_1_offset:=0.0 arm_2_offset:=0.0 arm_3_offset:=0.0 arm_4_offset:=0.0">
    <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/tiago-pro/spherical-wrist.properties.xacro"/>
    <!-- ARM 5 LINK -->
    <link name="${name}_${side}_5_link">
      <xacro:inertial_link_5 reflect="${reflect}"/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -1.5708" />
        <geometry>
          <mesh filename="package://pal_sea_arm_description/meshes/arm_tiago_pro/spherical-wrist/arm_5_link.stl" scale="1 -1 1" />  
        </geometry>
        <material name="pal/DarkGrey" />
      </visual>
      <xacro:link_collision 
        mujoco="${sim_type in ['mujoco-ros2-control', 'mujoco']}"
        collision_type="${collision_type}"
        mesh_file="package://pal_sea_arm_description/meshes/arm_tiago_pro/spherical-wrist/arm_5_link_collision.stl"
        scale="1 -1 1"
        capsule_radius="0"
        capsule_length="0">
          <properties>
            <xacro:origin xyz="0 0 0" rpy="0 0 -1.5708" condition="${collision_type == 'mesh'}"/>
            <xacro:origin xyz="0 0 0" rpy="0 0 -1.5708" condition="${collision_type == 'capsule'}"/>
          </properties>
      </xacro:link_collision>
    </link>
    <joint name="${name}_${side}_5_joint" type="revolute">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}" />
      <child link="${name}_${side}_5_link" />
      <axis xyz="0 0 1" />
      <xacro:if value="${side == 'left'}">
        <limit lower="${deg_to_rad * -210}" upper="${deg_to_rad * 90}" effort="${arm_5_max_effort}" velocity="${arm_5_max_velocity}" />
      </xacro:if>
      <xacro:if value="${side == 'right'}">
        <limit lower="${deg_to_rad * -90}" upper="${deg_to_rad * 210}" effort="${arm_5_max_effort}" velocity="${arm_5_max_velocity}" />
      </xacro:if>
    </joint>

    <!-- ARM 6 LINK -->
    <link name="${name}_${side}_6_link">
      <inertial>
      <origin xyz="-0.00626816969862987 -0.0318124419706845 -0.0405314304785194" rpy="0 0 0" />
      <mass value="1.39008889569299" />
      <inertia
        ixx="0.00117991065688556"
        ixy="-0.000114691073040267"
        ixz="-1.55867927850385E-06"
        iyy="0.00111549976263796"
        iyz="8.17152564494125E-06"
        izz="0.00122017664789509" />
    </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -1.5708" />
        <geometry>
          <mesh filename="package://pal_sea_arm_description/meshes/arm_tiago_pro/spherical-wrist/arm_6_link.stl" scale="1 1 1" />  
        </geometry>
        <material name="pal/DarkGrey" />
      </visual>
      <xacro:link_collision 
        mujoco="${sim_type in ['mujoco-ros2-control', 'mujoco']}"
        collision_type="${collision_type}"
        mesh_file="package://pal_sea_arm_description/meshes/arm_tiago_pro/spherical-wrist/arm_6_link_collision.stl"
        scale="1 1 1"
        capsule_radius="0"
        capsule_length="0">
          <properties>
            <xacro:origin xyz="0 0 0" rpy="0 0 -1.5708" condition="${collision_type == 'mesh'}"/>
            <xacro:origin xyz="0 0 0" rpy="0 0 -1.5708" condition="${collision_type == 'capsule'}"/>
          </properties>
      </xacro:link_collision>
    </link>
    <joint name="${name}_${side}_6_joint" type="revolute">
      <origin xyz="0.0422 0 0.1654" rpy="0 1.5708 0" />
      <parent link="${name}_${side}_5_link" />
      <child link="${name}_${side}_6_link" />
      <axis xyz="0 0 -1" />
      <limit lower="${deg_to_rad * -108}" upper="${deg_to_rad * 172}" effort="${arm_6_max_effort}" velocity="${arm_6_max_velocity}" />
    </joint>

    <!-- ARM 7 LINK -->
    <link name="${name}_${side}_7_link">
      <inertial>
      <origin xyz="0.00100220728968091 0.00116628109426657 0.00837393382187279" rpy="0 0 0" />
      <mass value="0.165766243040585" />
      <inertia
        ixx="5.34824182245588E-05"
        ixy="8.33710446028088E-07"
        ixz="-3.2706466047435E-07"
        iyy="5.60751467111307E-05"
        iyz="-1.88681016001926E-07"
        izz="0.000102184151280542" />
    </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -1.5708" />
        <geometry>
          <mesh filename="package://pal_sea_arm_description/meshes/arm_tiago_pro/spherical-wrist/arm_7_link.stl" scale="1 1 1" />  
        </geometry>
        <material name="pal/DarkGrey" />
      </visual>
      <xacro:link_collision 
        mujoco="${sim_type in ['mujoco-ros2-control', 'mujoco']}"
        collision_type="${collision_type}"
        mesh_file="package://pal_sea_arm_description/meshes/arm_tiago_pro/spherical-wrist/arm_7_link_collision.stl"
        scale="1 1 1"
        capsule_radius="0"
        capsule_length="0">
          <properties>
            <xacro:origin xyz="0 0 0" rpy="0 0 -1.5708" condition="${collision_type == 'mesh'}"/>
            <xacro:origin xyz="0 0 0" rpy="0 0 -1.5708" condition="${collision_type == 'capsule'}"/>
          </properties>
      </xacro:link_collision>
    </link>
    <joint name="${name}_${side}_7_joint" type="revolute">
      <origin xyz="-0.0534 -0.07 -0.0422" rpy="0 -1.5708 0" />
      <parent link="${name}_${side}_6_link" />
      <child link="${name}_${side}_7_link" />
      <axis xyz="0 0 1" />
      <limit lower="${deg_to_rad * -150}" upper="${deg_to_rad * 150}" effort="${arm_7_max_effort}" velocity="${arm_7_max_velocity}" />
    </joint>

  </xacro:macro>
</robot>