<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kangaroo">

  <xacro:macro name="kangaroo_arm" params="name side type reflect parent *origin arm_1_offset:=0.0 arm_2_offset:=0.0 arm_3_offset:=0.0 arm_4_offset:=0.0">

    <!-- 4DOF Arm -->
    <xacro:if value="${type in ['4dof', '5dof', '7dof']}">
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/humanoid/4dof_arm.urdf.xacro" />

      <xacro:kangaroo_4dof_arm name="${name}" side="${side}" reflect="${reflect}" parent="${parent}" arm_type="${type}">
        <xacro:insert_block name="origin"/>
      </xacro:kangaroo_4dof_arm>

      <xacro:property name="tip_link" value="4" />
      <xacro:property name="tool_link_xyz" value="0.35 -0.02 -0.0255" />
      <xacro:property name="tool_link_rpy" value="0 0 0" />
    </xacro:if>

    <!-- 5DOF Arm -->
    <xacro:if value="${type in ['5dof', '7dof']}">
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/humanoid/5dof_arm.urdf.xacro" />

      <xacro:kangaroo_5dof_arm name="${name}" side="${side}" reflect="${reflect}" parent="${name}_${side}_3_link">
        <origin xyz="-0.03711 -0.02 -0.17011" rpy="0 -1.5708 0" />
      </xacro:kangaroo_5dof_arm>

      <xacro:property name="tip_link" value="5" />
      <xacro:property name="tool_link_xyz" value="0 0 0" />
      <xacro:property name="tool_link_rpy" value="0 0 3.14159" />
    </xacro:if>

    <!-- 7DOF Arm -->
    <xacro:if value="${type in ['7dof']}">
      <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm_properties/humanoid/7dof_arm.urdf.xacro" />

      <xacro:kangaroo_7dof_arm name="${name}" side="${side}" reflect="${reflect}" parent="${name}_${side}_4_link">
        <origin xyz="-0.17011 0.02 -0.03711" rpy="0 -1.5708 0" />
      </xacro:kangaroo_7dof_arm>

      <xacro:property name="tip_link" value="7" />
      <xacro:property name="tool_link_xyz" value="0 0 0.017" />
      <xacro:property name="tool_link_rpy" value="0 0 0" />
    </xacro:if>

    <!-- Tool Link -->
    <link name="${name}_${side}_tool_link" />
    <joint name="${name}_${side}_tool_fixed_joint" type="fixed">
      <origin xyz="${tool_link_xyz}" rpy="${tool_link_rpy}" />
      <parent link="${name}_${side}_${tip_link}_link" />
      <child link="${name}_${side}_tool_link" />
    </joint>

  </xacro:macro>
</robot>