<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="inertial_link_5" params="reflect">
        <inertial>
            <origin
                xyz="-6.6854E-07 -0.02662 0.067326"
                rpy="0 0 0" />
            <mass
                value="0.34802" />
            <inertia
                ixx="0.0014602"
                ixy="-1.4931E-08"
                ixz="8.1828E-08"
                iyy="0.0014558"
                iyz="0.00033448"
                izz="0.00040968" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="origin_joint_5" params="reflect">
        <!-- Check new limits -->
        <origin xyz="-0.0199999999999971 0.17011 -0.037110000000002" rpy="-1.5707963267949 3.14 0" />
    </xacro:macro>

    <xacro:macro name="inertial_link_6" params="reflect">
        <inertial>
            <origin
                xyz="0.031968 -0.0065097 -0.040676"
                rpy="0 0 0" />
            <mass
                value="1.378" />
            <inertia
                ixx="0.0011002"
                ixy="0.00012805"
                ixz="-5.6797E-06"
                iyy="0.0011658"
                iyz="5.4596E-07"
                izz="0.0011909" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="origin_joint_6" params="reflect">
        <origin xyz="0 -0.0422 0.1654" rpy="-1.5708 0 3.14" />
    </xacro:macro>

    <xacro:macro name="inertial_link_7" params="reflect">
        <inertial>
            <origin
                xyz="-0.0016034 0.001194 0.0075583"
                rpy="0 0 0" />
            <mass
                value="0.1354" />
            <inertia
                ixx="5.0537E-05"
                ixy="-8.1184E-07"
                ixz="1.9023E-07"
                iyy="5.1762E-05"
                iyz="-3.2751E-07"
                izz="9.5274E-05" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="origin_joint_7" params="reflect">
        <origin xyz="0.07 -0.0534 -0.0422" rpy="1.5708 0 0" />
    </xacro:macro>

</robot>