<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Joint limits -->
  <xacro:property name="arm_5_joint_ub" value="145" />
  <xacro:property name="arm_5_joint_lb" value="-145" />
  <xacro:property name="arm_6_joint_ub" value="114" />
  <xacro:property name="arm_6_joint_lb" value="-114" />
  <xacro:property name="arm_7_joint_ub" value="145" />
  <xacro:property name="arm_7_joint_lb" value="-145" />

  <!-- Velocity limits -->
  <xacro:property name="arm_5_max_velocity" value="1.95" />
  <xacro:property name="arm_6_max_velocity" value="1.95" />
  <xacro:property name="arm_7_max_velocity" value="1.95" />

  <!-- Effort limits -->
  <xacro:property name="arm_5_max_effort" value="50" />
  <xacro:property name="arm_6_max_effort" value="50" />
  <xacro:property name="arm_7_max_effort" value="50" />

</robot>
